.header {
  background-color: #333;
  color: white;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center; /* Центрує все по вертикалі */
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navigationItem {
  display: flex;
  align-items: center;
}
